In [3]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv(r"C:\Users\DELL\Downloads\imdb_anime.csv")

In [5]:
datac=data.copy()

In [6]:
datac

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

# 1.how many unique animes are there

In [5]:
datac["Title"].unique().shape

(9851,)

# 2.which anime has highest rating

In [6]:
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      25009 non-null  object
 3   Number of Votes  25009 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            25009 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [18]:
datac["User Rating"].value_counts()

7.6            1270
7.5            1174
7.4            1171
7.2            1144
7.7            1142
               ...
1.7               2
1.8               2
2.1               2
2.5               1
User Rating       1
Name: User Rating, Length: 87, dtype: int64

In [19]:
datac.fillna({"User Rating":0},inplace=True)

In [20]:
datac["User Rating"].replace({"User Rating":0},inplace=True)

In [24]:
datac=datac.astype({"User Rating":np.float16})

In [25]:
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  float16
 3   Number of Votes  25009 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            25009 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: float16(1), object(12)
memory usage: 4.3+ MB

In [27]:
datac.loc[datac["User Rating"]==datac["User Rating"].max(),["User Rating","Title"]]

       User Rating                          Title
13656     9.898438                    Idaten Jump
17874     9.898438                   Vinland Saga
22753     9.898438                Attack on Titan
34677     9.898438                Hunter x Hunter
39614     9.898438  Legend of the Galactic Heroes
45689     9.898438                Attack on Titan

# which anime has the ratings b/w 7.0 to 9

In [29]:
datac.loc[(datac["User Rating"]>=7.0)&(datac["User Rating"]<=9),["User Rating","Title"]]

       User Rating                                        Title
0         8.898438                                    One Piece
1         7.398438  Teenage Mutant Ninja Turtles: Mutant Mayhem
2         7.101562                  The Super Mario Bros. Movie
4         8.500000                               Jujutsu Kaisen
6         8.601562               Demon Slayer: Kimetsu no Yaiba
...            ...                                          ...
45709     8.296875               Demon Slayer: Kimetsu no Yaiba
45710     8.398438               Demon Slayer: Kimetsu no Yaiba
45711     8.398438               Demon Slayer: Kimetsu no Yaiba
45712     7.300781               Demon Slayer: Kimetsu no Yaiba
45713     7.898438               Demon Slayer: Kimetsu no Yaiba

[15655 rows x 2 columns]

# which anime is having  the highest and lowest runtime

# wt is the run time difference b/w one piece and the super mario bro's movie

# wt is the oldest anime

In [9]:
datac=datac.astype({"Year":np.date_time})

AttributeError: module 'numpy' has no attribute 'date_time'

In [11]:
pd.to_datetime(data["Year"])

ParserError: Unknown string format: (1999– ) present at position 0

# wt are the animes released in the year 2023

# wt is the avg user rating of all the animes whose genere is action

In [ ]:
datac.astype({"Genre":str})

In [50]:
datac.loc[datac["User Rating"]==datac["User Rating"].mean()]

TypeError: can only concatenate str (not "int") to str

In [ ]:
datac.info()

# which anime has the least gross price

In [ ]:
datac.fillna({"Gross":1162280},inplace=True)

In [30]:
datac["Gross"].replace({"Gross":0},inplace=True)

In [31]:
datac["Gross"].value_counts()

1162280    20708
7            567
9            533
8            532
12           493
           ...
3307           1
2810           1
3382           1
3021           1
2743           1
Name: Gross, Length: 3034, dtype: int64

In [32]:
datac=datac.astype({"Gross":np.int64})

In [33]:
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      25009 non-null  object
 3   Number of Votes  45717 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            45717 non-null  int64
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: int64(1), object(12)
memory usage: 4.5+ MB

In [34]:
datac.loc[datac["Gross"]==datac["Gross"].min(),["Title","Gross"]]

     Title  Gross
840  Title      0

 # which anime has the heighest gross price

In [267]:
datac.loc[datac["Gross"]==datac["Gross"].max(),["Title","Gross"]]

      Title    Gross
47   WALL·E  1162284
888  WALL·E  1162284

# how many animes belongs to PG certificate

In [268]:
datac["Certificate"].value_counts()

TV-14          10033
TV-PG           6904
TV-Y            3722
TV-MA           3014
Not Rated       1476
TV-Y7           1372
PG               425
TV-Y7-FV         411
TV-G             404
PG-13            173
G                142
Unrated          141
12               132
U                 99
15                94
R                 49
T                 23
18                15
12A               14
M                 12
X                  6
E10+               6
TV-13              4
E                  4
Approved           4
16+                3
18+                3
Banned             3
13+                2
Certificate        1
Uc                 1
R18                1
Open               1
Name: Certificate, dtype: int64

# wt is the avg no. of votes in the votes

In [32]:
datac["Number of Votes"]

0        187,689
1         28,895
2        189,108
3        434,457
4         82,909
          ...
45712      3,432
45713      3,309
45714      2,743
45715        NaN
45716          6
Name: Number of Votes, Length: 45717, dtype: object

In [7]:
datac.fillna({"Number of Votes":0},inplace=True)

In [52]:
datac["Number of Votes"].replace({"Number of Votes":0},inplace=True)

In [45]:
datac["Number of Votes"].info

<bound method Series.info of 0        187,689
1         28,895
2        189,108
3        434,457
4         82,909
          ...
45712      3,432
45713      3,309
45714      2,743
45715          0
45716          6
Name: Number of Votes, Length: 45717, dtype: object>

In [46]:
datac.replace({"Number of Votes":","},"")

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,0,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [47]:
datac["Number of Votes"].info

<bound method Series.info of 0        187,689
1         28,895
2        189,108
3        434,457
4         82,909
          ...
45712      3,432
45713      3,309
45714      2,743
45715          0
45716          6
Name: Number of Votes, Length: 45717, dtype: object>

In [48]:
datac.astype({"Number of Votes":np.int64})

ValueError: invalid literal for int() with base 10: '187,689'

In [8]:
datac["Number of Votes"].mean()

TypeError: can only concatenate str (not "int") to str